<nav>
    <ul>
      <li><strong>P's Blog</strong></li>
    </ul>
    <ul>
      <li><a href="/">ℹ Home</a></li>
      <li><a href="/new">ℹ Create New Record</a></li>
      <li><a href="/about">ℹ About</a></li>
    </ul>
</nav>