<nav>
    <ul>
      <li><strong>FInd Your Flows</strong></li>
    </ul>
    <ul>
      <li><a href="/">ℹ Home</a></li>
      <li><a href="/new">ℹ Upload your Favorites</a></li>
      <li><a href="/about">ℹ About</a></li>
    </ul>
</nav>