.welcome-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.new-post-btn-container{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.post-container {
    max-width: 750px;

    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px; /* Rounded edges */
    padding: 20px; /* Space inside the container */
    box-shadow: 0 4px 6px rgba(16, 45, 32, 0.1);
}

.about-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container > img{
    margin-bottom: 40px;
}

.cancel-create-post {
    text-align: center;
}
