<!DOCTYPE html>
<html lang="en" theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Square+Peg&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B1B2C6VEPY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B1B2C6VEPY');
</script>
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>
        <hr class="navbar-separator">
        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1 style="font-family: 'Libre Baskerville', serif; font-size: 26px; color: #C52F21; text-align: center; margin-top: 20px; margin-bottom: 10px;">About Find Your Flows✨</h1>
        </div>

        <div class="about-container">
            <img src="/images/about 1.jpg">
            <p style="font-family: 'Square Peg', cursive; font-size: 33px;">Welcome to Find Your Flows! Everyone deserves a Pilates workout that fits their mood and needs. The platform was built so we can spend less time searching and more time moving. Enjoy 🥂</p>

            <br>
            <a href="/" role="button" class="custom-btn">Find your flow~</a>

        </div>

    </main>
</body>
</html>
