<!DOCTYPE html>
<html lang="en" theme="light dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About Find Your Flows</h1>
        </div>

        <div class="about-container">
            <img src="/images/about 1.jpg">
            <p>Welcome to Find Your Flows! Everyone deserves a workout that fits their mood and needs. The platform was built so we can spend less time searching and more time moving. Enjoy 🥂</p>
            <br>
            <a href="/">Find your flow~</a>
        </div>

    </main>
</body>
</html>